<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:include="common/common_header :: header('后台系统')">
    <!--    <title>Title</title>-->
    <style>
        body{
            min-height: 500px;
        }
    </style>
</head>
<body>
<div>
    <div class="form-container">
        <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <div class="layui-row">
                <div class="layui-col-xs5">
                    <label class="layui-form-label">用户账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" placeholder="请输入用户账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs5">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="nickName" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-xs2">
                    <div class="layui-input-block" style="margin-left: 45%;">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*">查询</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr class="layui-bg-gray">

    <div>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm get-checked">获取选中</button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm refresh">刷新（新增）</button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm open-all">全部展开</button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm close-all">全部关闭</button>
        <button type="button" class="layui-btn layui-btn-primary layui-btn-sm change-icon">随机更换小图标</button>

        <table class="layui-table layui-form" id="tree-table" lay-size="sm"></table>

        <hr class="layui-bg-green">

        <div id="tree"  class="layui-anim"></div>

        <hr class="layui-bg-green">

        <div class="layui-unselect layui-form-select">
            <div class="layui-select-title" style="position: relative;">
                <input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect">
                <i class="layui-edge"></i>
            </div>
            <div id="tree1"  class="layui-anim" style="display: none;border: 1px solid #e2e2e2;padding: 5px;margin-top: 5px;"></div>
        </div>

        <hr class="layui-bg-green">

        <div class="layui-unselect layui-form-select">
            <div class="layui-select-title" style="position: relative;"><input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div>
            <table class="layui-table layui-form layui-anim" id="tree-table1" lay-size="sm" style="display: none;"></table>
        </div>

        <hr class="layui-bg-green">

        <div id="tree"></div>
        <div>范德萨范德萨发撒</div>
        <div>范德萨范德萨发撒</div>
        <div>范德萨范德萨发撒</div>

        啊啊啊
        end
    </div>

</div>

<!-- 引入js模板 -->
<div th:replace="common/common_js :: common_js(~{::script})">
    <!--    <script th:inline="javascript" th:src="@{/plugins/treeTable.js}" charset="utf-8"></script>-->
    <script th:inline="javascript" th:src="@{sysMenu.js}" charset="utf-8"></script>
</div>
</body>
</html>