<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" charset="UTF-8"/>
</head>
<body>
<div>
    <button type="button" class="layui-btn" id="deployProcess">部署流程</button>
    <button type="button" class="layui-btn" id="queryProcessDefinition">查看流程</button>
    <button type="button" class="layui-btn" id="startProcess">开始流程</button>
    <button type="button" class="layui-btn" id="approve">审批</button>
    <button type="button" class="layui-btn" id="viewTask">查看任务</button>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/plugins/jquery/jquery-3.5.1.min.js}" charset="utf-8"></script>
<script th:src="@{/plugins/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript" th:src="@{/index.js}" charset="utf-8"></script>
</body>
</html>