<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_header :: header('', ~{}, ~{::style})">
    <style>
        /** 下拉框太长, 限制高度, 显示滚动条 */
        .layui-form-select dl {
            height: 250px;
        }
        .layui-textarea {
            min-height: 70px !important;
        }
    </style>
</head>
<body class="iframe-body">
<div>
    <div style="padding-top: 10px;">
        <button type="button" class="layui-btn" id="applyHoliday">申请请假</button>
        <button type="button" class="layui-btn" id="applyExpense">申请报销</button>
    </div>
    <div>
        <table id="applyList" lay-filter="applyList"></table>
    </div>
</div>

<!-- 引入js模板 -->
<div th:replace="common/common_js :: common_js(~{::script})">
    <script th:inline="javascript" th:src="@{apply.js}" charset="utf-8"></script>
</div>
</body>

<!-- 申请请假表单 -->
<div id="applyFormLtl" style="display: none; padding: 10px 20px 0 0;">
    <form class="layui-form" lay-filter="applyForm" id="applyForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="realName" lay-verify="required" autocomplete="off" placeholder="请输入用户名"
                       class="layui-input layui-disabled" readonly th:value="${sysUser?.realName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假类型</label>
            <div class="layui-input-block">
                <select name="holidayType" lay-verify="required">
                    <option value="0">--请选择请假类型--</option>
                    <option th:each="type:${holidayTypes}"
                            th:value="${type.code}" th:text="${type.desc}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假天数</label>
            <div class="layui-input-block">
                <input type="text" name="day" lay-verify="required|number" autocomplete="off" placeholder="请输入天数"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假原因</label>
            <div class="layui-input-block">
                <textarea name="reason" placeholder="请输入请假原因" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">审批人</label>
            <div class="layui-input-block">
                <select name="approveUser" lay-verify="required">
                    <option value="0">--请选择审批人--</option>
                    <option th:each="user:${approveUsers}"
                            th:value="${user.id}" th:text="${user.realName}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 45%;">
            <button type="submit" class="layui-btn" lay-submit lay-filter="applyFormSubmit">提交</button>
        </div>
    </form>
</div>

</html>