<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title, links, styles)">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title th:text="${title == '' ? 'OA办公系统' : title}"></title>

    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/scrollbar.css}" charset="UTF-8">

    <th:block th:replace="${links}"/>
    <th:block th:replace="${styles}"/>

    <!-- 加载全局变量 -->
    <script th:inline="javascript">
        // const sysUserStr = '[(${sysUser})]'; // 这里获取的是 toString格式化字符串输出
        // const sysUserJsonStr = '[[${sysUser}]]'; // 加上单引号后获取的是json字符串
        const sysUser = [[${sysUser}]]; // 这里才是获取的对象
        // console.log(sysUser);
    </script>

</head>
</html>