<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_header :: header('', ~{}, ~{})">
    <meta charset="UTF-8">
<!--    <meta th:include="common/common_header :: header('后台系统', ~{}, ~{})">-->
</head>
<body class="frame-body">
<div class="frame-content-box">

<div class="form-container">
    <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div class="layui-row">
            <div class="layui-col-xs5">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-block">
                    <input type="text" name="userName" placeholder="请输入用户账号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-xs5">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-block">
                    <input type="text" name="nickName" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-col-xs2">
                <div class="layui-input-block" style="margin-left: 45%;">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*">查询</button>
                </div>
            </div>
        </div>
    </form>
</div>
<hr class="layui-bg-gray">

<div id="searchAdvBox">
    <form class="layui-form layui-form-sm" lay-filter="searchAdvForm" id="searchAdvForm">
        <div class="layui-row no-margins padding10">
        </div>
    </form>
</div>

<div style="margin:0 5px;">
    <div class="layui-row">
        <button type="button" class="layui-btn" id="add">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </div>
    <table id="list" lay-filter="list"></table>
</div>

</div>

<!-- 引入js模板 -->
<div th:replace="common/common_js :: common_js(~{::script})">
    <script th:inline="javascript" th:src="@{list.js}" charset="utf-8"></script>
</div>
</body>
</html>