<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common_header :: header('', ~{}, ~{::style})">
    <style type="text/css">
        html, body {
            height: calc(100vh - 25px);
        }

        body {
            padding-right: 10px;
        }

        .container {
            height: 100%;
        }

        .task-tabbrief-box {
            border: solid 1px #D2D2D2;
            height: 100%;
            overflow-y: auto;
        }
    </style>
</head>
<body class="iframe-body">
<div>
</div>
<div class="container">
    <div class="layui-tab layui-tab-brief task-tabbrief-box" lay-filter="taskListTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="todoTask">待办任务</li>
            <li lay-id="historyTask">已办任务</li>
            <li lay-id="myInitiate">我发起的任务</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <button type="button" class="layui-btn layui-btn-sm refresh" id="refreshToDoList">刷新</button>
                <table id="todoTask" lay-filter="todoTask"></table>
            </div>
            <div class="layui-tab-item">
                <button type="button" class="layui-btn layui-btn-sm refresh" id="refreshHistoryTaskList">刷新</button>
                <table id="historyTaskList" lay-filter="historyTaskList"></table>
            </div>
            <div class="layui-tab-item">
                <button type="button" class="layui-btn layui-btn-sm refresh" id="refreshMyInitiateList">刷新</button>
                <table id="myInitiateList" lay-filter="myInitiateList"></table>
            </div>
        </div>
    </div>
</div>

<!-- 引入js模板 -->
<div th:replace="common/common_js :: common_js(~{::script})">
    <script th:inline="javascript" th:src="@{task.js}" charset="utf-8"></script>
</div>
</body>

<!-- 审核表单 -->
<div id="approveFormLtl" style="display: none; padding: 10px;">
    <form class="layui-form" lay-filter="approveForm" id="approveForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">驳回原因</label>
            <div class="layui-input-block">
                <textarea name="rejectReason" id="rejectReason" placeholder="请输入驳回原因, 驳回时必填"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="text-align:center;">
            <!--            <input type="hidden" name="processInstanceId"/>-->
            <input type="hidden" name="taskId"/>
            <button type="button" class="layui-btn" id="approvePass" value="1">通过</button>
            <button type="button" class="layui-btn" id="approveReject" value="0">驳回</button>
        </div>
    </form>
</div>

</html>