<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/layuiAdmin.css}" charset="UTF-8">
    <style>
        .layui-table-tool {
            min-height: 20px !important;
            line-height: 10px !important;
        }
    </style>
</head>
<body>


<script th:src="@{/plugins/jquery/jquery-3.5.1.min.js}" charset="utf-8"></script>
<script th:src="@{/plugins/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript" th:src="@{holiday.js}" charset="utf-8"></script>
</body>
</html>