<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/layuiAdmin.css}" charset="UTF-8">

    <style type="text/css">
        html, body {
            height: calc(100vh - 25px);
        }

        body {
            padding-right: 10px;
        }

        .container {
            height: 100%;
        }

        .task-tabbrief-box {
            border: solid 1px #D2D2D2;
            height: 100%;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div>
    <!--<script type="text/html" id="applyListToolBar">
        <div style="height: 40px;display:flex;">
                <span style="height: 40px; font-size: 12px; line-height: 40px; vertical-align: middle;display: inline-block;">
                    我的申请列表(这里是个模拟操作：想象一下这里的选项就是你当前登陆的用户)
                </span>
            <div class="layui-container"
                 style="padding-left:0; max-width: 360px;margin-left: 10px;">
                <div class="layui-row">
                    <div class="layui-input-block layui-col-xs4" style="left: 0; margin-left:0; padding-left: 0;">
                        <select name="assigne" id="assigne">
                            <option value="">&#45;&#45;请选择角色&#45;&#45;</option>
                            <option value="张三" selected>张三</option>
                            <option value="部门经理">部门经理</option>
                            <option value="总经理">总经理</option>
                        </select>
                    </div>
                    <button class="layui-btn layui-col-xs2" lay-event="viewApplyList" style="left: -1px">查看</button>
                </div>
            </div>
        </div>
    </script>-->
</div>
<div class="container">
    <div class="layui-tab layui-tab-brief task-tabbrief-box" lay-filter="taskListTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="todoTask">待办任务</li>
            <li lay-id="historyTask">已办任务</li>
            <li lay-id="myInitiate">我发起的任务</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="todoTask" lay-filter="todoTask"></table>
            </div>
            <div class="layui-tab-item">
                <table id="historyTaskList" lay-filter="historyTaskList"></table>
            </div>
            <div class="layui-tab-item">
                <table id="myInitiateList" lay-filter="myInitiateList"></table>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/plugins/jquery/jquery-3.5.1.min.js}" charset="utf-8"></script>
<script th:src="@{/plugins/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(['element', 'form', 'table', 'util'], function () {
        var element = layui.element,
            form = layui.form,
            table = layui.table,
            util = layui.util;

        /**
         * 初始化表格
         */
            // 待办列表
        var todoTask = table.render({
                elem: '#todoTask',
                url: "/holidayTask/getToDoTasks",
                method: 'get',
                height: 'full-110',
                cols: [
                    [
                        {
                            title: '操作', minWidth: 150, align: 'center', fixed: 'left', templet: rowData => {
                                let _html = '<span class="layui-btn layui-btn-xs" lay-event="viewProcessDiagram">查看流程图</span>',
                                    _audit = '<span class="layui-btn layui-btn-xs" lay-event="approve">审核</span>',
                                    _submit = '<span class="layui-btn layui-btn-xs" lay-event="reSubmit">提交</span>';
                                let _status = rowData.statusAudit;
                                if ("REJECTED" === _status) {
                                    _html += _submit;
                                } else if ("UNDER_REVIEW" === _status) {
                                    _html += _audit;
                                }
                                return _html;
                            }
                        },
                        {field: 'id', title: '任务ID', minWidth: 290, align: 'center'},
                        {field: 'processInstanceId', title: '流程实例ID', minWidth: 290, align: 'center'},
                        {field: 'assignee', title: '姓名', minWidth: 90, align: 'center'},
                        {field: 'activityName', title: '当前节点', minWidth: 90, align: 'center'},
                        {
                            field: 'statusAudit', title: '状态', minWidth: 90, align: 'center', templet: rowData => {
                                return rowData.statusPairValue[rowData.statusAudit];
                            }
                        },
                        {
                            field: 'deploymentTime',
                            title: '申请时间',
                            minWidth: 160,
                            align: 'center',
                            templet: rowData => {
                                return util.toDateString(rowData.createTime, 'yyyy-MM-dd HH:mm:ss');
                            }
                        },
                    ]
                ],
                page: false,
                parseData: function (res) {
                    // console.log(res);
                    return {
                        "code": '',
                        // "msg": res.msg,
                        // "count": res.total,
                        "data": res.data
                    };
                }
            });
        // 已办列表
        var historyTaskList = table.render({
            elem: '#historyTaskList',
            url: "/holidayTask/getHistoryTask",
            method: 'get',
            height: 'full-110',
            cols: [
                [
                    {
                        title: '操作', minWidth: 150, align: 'center', fixed: 'left', templet: rowData => {
                            let _html = '<span class="layui-btn layui-btn-xs" lay-event="viewProcessDiagram">查看流程图</span>',
                                _audit = '<span class="layui-btn layui-btn-xs" lay-event="approve">审核</span>',
                                _submit = '<span class="layui-btn layui-btn-xs" lay-event="reSubmit">提交</span>';
                            let _status = rowData.statusAudit;
                            if ("REJECTED" === _status) {
                                _html += _submit;
                            } else if ("UNDER_REVIEW" === _status) {
                                _html += _audit;
                            }
                            return _html;
                        }
                    },
                    {
                        title: '任务ID', minWidth: 290, align: 'center', templet: rowData => {
                            return rowData.taskInfo.id;
                        }
                    },
                    {
                        title: '流程实例ID', minWidth: 290, align: 'center', templet: rowData => {
                            return rowData.taskInfo.processInstanceId;
                        }
                    },
                    {
                        title: '姓名', minWidth: 90, align: 'center', templet: rowData => {
                            return rowData.taskInfo.assignee;
                        }
                    },
                    {
                        title: '名称', minWidth: 90, align: 'center', templet: rowData => {
                            return rowData.taskInfo.activityName;
                        }
                    },
                    {
                        field: 'statusAudit', title: '状态', minWidth: 90, align: 'center', templet: rowData => {
                            return rowData.statusPairValue[rowData.statusAudit];
                        }
                    },
                    {
                        field: 'deploymentTime', title: '创建时间', minWidth: 160, align: 'center',
                        templet: rowData => {
                            return util.toDateString(rowData.createTime, 'yyyy-MM-dd HH:mm:ss');
                        }
                    },
                    {
                        field: 'deploymentTime', title: '处理时间', minWidth: 160, align: 'center',
                        templet: rowData => {
                            return util.toDateString(rowData.createTime, 'yyyy-MM-dd HH:mm:ss');
                        }
                    }
                ]
            ],
            page: false,
            parseData: function (res) {
                // console.log(res);
                return {
                    "code": '',
                    // "msg": res.msg,
                    // "count": res.total,
                    "data": res.data
                };
            }
        });
        // 我发起的任务
        var myInitiateList = table.render({
            elem: '#myInitiateList',
            url: "/holidayTask/getMyInitiateTask",
            method: 'get',
            // toolbar: '#applyListToolBar',
            // defaultToolbar: [],
            height: 'full-110',
            cols: [
                [
                    {
                        title: '操作', minWidth: 150, align: 'center', fixed: 'left', templet: rowData => {
                            let _html = '<span class="layui-btn layui-btn-xs" lay-event="viewProcessDiagram">查看流程图</span>',
                                _audit = '<span class="layui-btn layui-btn-xs" lay-event="approve">审核</span>',
                                _submit = '<span class="layui-btn layui-btn-xs" lay-event="reSubmit">提交</span>';
                            let _status = rowData.statusAudit;
                            if ("REJECTED" === _status) {
                                _html += _submit;
                            } else if ("UNDER_REVIEW" === _status) {
                                _html += _audit;
                            }
                            return _html;
                        }
                    },
                    {field: 'id', title: '任务ID', minWidth: 290, align: 'center'},
                    {field: 'processInstanceId', title: '流程实例ID', minWidth: 290, align: 'center'},
                    {field: 'assignee', title: '姓名', minWidth: 90, align: 'center'},
                    {field: 'activityName', title: '当前节点', minWidth: 90, align: 'center'},
                    {
                        field: 'statusAudit', title: '状态', minWidth: 90, align: 'center', templet: rowData => {
                            return rowData.statusPairValue[rowData.statusAudit];
                        }
                    },
                    {
                        field: 'deploymentTime', title: '发起时间', minWidth: 160, align: 'center',
                        templet: rowData => {
                            return util.toDateString(rowData.createTime, 'yyyy-MM-dd HH:mm:ss');
                        }
                    },
                    {
                        field: 'deploymentTime', title: '结束时间', minWidth: 160, align: 'center',
                        templet: rowData => {
                            return util.toDateString(rowData.createTime, 'yyyy-MM-dd HH:mm:ss');
                        }
                    }
                ]
            ],
            page: false,
            parseData: function (res) {
                // console.log(res);
                return {
                    "code": '',
                    // "msg": res.msg,
                    // "count": res.total,
                    "data": res.data
                };
            }
        });

        /**
         *  表格头部toolbar工具栏监听事件
         */
        table.on('toolbar(todoTask)', function (obj) {
            var _assignee = $("#assigne").val();
            let _event = obj.event;
            switch (_event) {
                case 'viewApplyList':
                    todoTask.reload(getTableConfig(_assignee));
                    $("#assigne").val(_assignee);
                    return;
                default:
                    return;
            }
        });

        /**
         * 表格数据行tool操作栏监听事件
         */
        table.on('tool(historyTaskList)', function (obj) {
            let _rowData = obj.data;
            switch (obj.event) {
                case 'viewProcessDiagram': // 查看流程图
                    layer.open({
                        title: '流程图',
                        type: 2,
                        area: ['800px', '410px'],
                        content: '/holiday/processDiagram?processInstanceId=' + _rowData.processInstanceId
                    })
                    return;
                case 'approve': // 审核
                    _modal = layer.open({
                        type: 1,
                        area: ['550px', '250px'],
                        content: $('#approveFormLtl'),
                        success: function (index) {
                            $("#approveForm input[name='taskId']").val(_rowData.taskId);
                        }
                    });
                    return;
                default:
                    return;
            }
        });
        table.on('tool(todoTask)', function (obj) {
            let _rowData = obj.data;
            switch (obj.event) {
                case 'viewProcessDiagram': // 查看流程图
                    layer.open({
                        title: '流程图',
                        type: 2,
                        area: ['800px', '410px'],
                        content: '/holiday/processDiagram?processInstanceId=' + _rowData.processInstanceId
                    })
                    return;
                case 'approve': // 审核
                    _modal = layer.open({
                        type: 1,
                        area: ['550px', '250px'],
                        content: $('#approveFormLtl'),
                        success: function (index) {
                            $("#approveForm input[name='taskId']").val(_rowData.taskId);
                        }
                    });
                    return;
                default:
                    return;
            }
        });
        table.on('tool(myInitiateList)', function (obj) {
            let _rowData = obj.data;
            switch (obj.event) {
                case 'viewProcessDiagram': // 查看流程图
                    layer.open({
                        title: '流程图',
                        type: 2,
                        area: ['800px', '410px'],
                        content: '/holiday/processDiagram?processInstanceId=' + _rowData.processInstanceId
                    })
                    return;
                case 'approve': // 审核
                    _modal = layer.open({
                        type: 1,
                        area: ['550px', '250px'],
                        content: $('#approveFormLtl'),
                        success: function (index) {
                            $("#approveForm input[name='taskId']").val(_rowData.taskId);
                        }
                    });
                    return;
                default:
                    return;
            }
        });

        /**
         * 刷新列表
         */
        /*$(document).on('click', '#refreshApplyList', function () {
            todoTask.reload();
        });*/

        /**
         * 申请请假弹窗
         */
        $("#applyHoliday").click(function () {
            _modal = layer.open({
                type: 1,
                area: ['550px', '400px'],
                content: $('#applyFormLtl')
            });
        });

        /**
         * 提交申请
         */
        form.on('submit(applyFormSubmit)', function (data) {
            let _param = data.field;
            $.post("/holiday/apply", _param, function (res) {
                layer.close(_modal);
                todoTask.reload();
            }, 'json');
            // return false; // 调试时打开，console.log才会有输出
        });

        $("#approvePass, #approveReject").click(function (obj) {
            let approveFlag = $(this).val(),
                rejectReason = $("#approveForm textarea[name='rejectReason']").val(),
                taskId = $("#approveForm input[name='taskId']").val();
            console.log(taskId);
            if ("0" === approveFlag) {
                if (undefined == rejectReason || "" == rejectReason) {
                    layer.tips('驳回原因必填', '#rejectReason', {tips: 1});
                    return false;
                }
            }
            $.post("/holiday/approve", {
                "taskId": taskId,
                "approveFlag": approveFlag,
                "rejectReason": rejectReason
            }, function (res) {
                console.log(res);
            }, 'json');
        });

    });
</script>
</body>

<!-- 申请请假表单 -->
<div id="applyFormLtl" style="display: none; padding: 10px;">
    <form class="layui-form" lay-filter="applyForm" id="applyForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="userName" lay-verify="required" autocomplete="off" placeholder="请输入用户名"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假类型</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required">
                    <option value="0">--请选择请假类型--</option>
                    <option value="1">事假</option>
                    <option value="2">病假</option>
                    <option value="3">婚假</option>
                    <option value="4">产假</option>
                    <option value="5">陪产假</option>
                    <option value="6">丧假</option>
                    <option value="7">工伤假</option>
                    <option value="8">调休</option>
                    <option value="9">年假</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假天数</label>
            <div class="layui-input-block">
                <input type="text" name="day" lay-verify="required|number" autocomplete="off" placeholder="请输入天数"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请假原因</label>
            <div class="layui-input-block">
                <textarea name="reason" placeholder="请输入请假原因" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 45%;">
            <button type="submit" class="layui-btn" lay-submit lay-filter="applyFormSubmit">提交</button>
        </div>
    </form>
</div>
<!-- 审核表单 -->
<div id="approveFormLtl" style="display: none; padding: 10px;">
    <form class="layui-form" lay-filter="approveForm" id="approveForm" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">驳回原因</label>
            <div class="layui-input-block">
                <textarea name="rejectReason" id="rejectReason" placeholder="请输入驳回原因, 驳回时必填"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" style="text-align:center;">
            <!--            <input type="hidden" name="processInstanceId"/>-->
            <input type="hidden" name="taskId"/>
            <button type="button" class="layui-btn" id="approvePass" value="1">通过</button>
            <button type="button" class="layui-btn" id="approveReject" value="0">驳回</button>
        </div>
    </form>
</div>
</html>